html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Merriweather", serif;
  font-size: 1.6rem;
  background-color: darkseagreen;
  height: 100vh;
  width: 100vw;
  position: relative;
}

header {
  background-color: #ccdbdc;
  background-color: #63c7b2;
  height: 15%;
  padding: 0 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #263d42;
}

header h1 {
  font-size: 5rem;
  color: #263d42;
}

.add-btn {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  background-color: #8e6c88;
  font-family: inherit;
  display: inline-block;
  font-size: 2rem;
  padding: 1em;
  border-radius: 1rem;
  border: 3px solid #263d42;
  transition: all 0.2s;
}

.add-btn:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.add-btn:active {
  transform: translateY(-1px);
}

.main-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-color: #ccdbdc;
  padding: 3em;
  border-right: 3px solid #263d42;
}

.sidebar p {
  font-size: 1.8rem;
  margin-bottom: 1.5em;
  color: #263d42;
}

.sidebar p span {
  font-weight: 700;
  color: #263d42;
}

.library {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30rem;
  grid-auto-rows: 30rem;
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  background-color: #63c7b2;
  background-color: #ccdbdc;
  padding: 3em;
  justify-items: center;
  align-items: center;
}

.book_card {
  background-color: #80ced7;
  height: 80%;
  width: 85%;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3em;
  border-radius: 1rem;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  border: 3px solid #263d42;
  color: #263d42;
}

.book_card:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 1.5px 3px 8px rgba(0, 0, 0, 0.2);
}

.book_title {
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 700;
}

.book_author {
  font-size: 1.5rem;
  font-weight: 700;
}

.book_pages,
.book_status {
  font-size: 1.4rem;
  color: #516468;
}

.book_form {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: yellow;
  padding: 2em;
  width: 30%;
  height: 40%;
  border: 1px solid #263d42;
  border-radius: 0.8rem;
}

.close_btn {
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 92%;
  top: 5%;
}

.close_btn:hover {
  cursor: pointer;
}

.form_btn {
  font-family: inherit;
  padding: 0.5em 2em;
  cursor: pointer;
}

.flex {
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_radio {
  display: flex;
  gap: 1em;
}

.flex_btns {
  padding: 1em;
  display: flex;
  justify-content: center;
  gap: 3em;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

input[type="text"],
input[type="number"] {
  width: 60%;
  height: 2em;
}

input[type="radio"] {
  cursor: pointer;
}
